<StackLayout orientation="vertical">
    <Button text="load images" (tap)="load()"></Button>
    <ScrollView orientation="vertical">
        <GridLayout columns={{getGridSpec(colsInput)}} rows={{getGridSpec(rowInput,100)}} style.backgroundColor="lightgray">
            <div *ngFor="let r of rows | async">
                <div *ngFor="let c of cols | async">

                    <AbsoluteLayout *ngIf="pictures[getPositionInArray(r,c)]" row={{r}} col={{c}}>
                        <app-picture [(photo)]="pictures[getPositionInArray(r,c)]">></app-picture>
                    </AbsoluteLayout>

                </div>
            </div>
        </GridLayout>
    </ScrollView>
</StackLayout>